.pop-button 
{
	margin-bottom: 10px;
	margin-left: 10% !important;
	margin-bottom: 5px !important;
	background-color:#378de5 !important;
	height: 40px !important;
}

.title , .variance {
    overflow: hidden;
    color: #363636;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight:bold;
    margin: 0 5px;
    padding: 0 5px;
}

.variance {
    margin-bottom: 6px;
}

#details {
    color: #363636;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.first-row, .second-row, .third-row {
    padding: 4px 10px;
}
.second-row {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.first-row span, .second-row span, .third-row span {
    display: inline-block;
    float: right;
}

.ToolTipButton{
	margin-top: 5px;
	width: 200px;
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7  !important;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7 !important;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7 !important;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) ) !important;
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% ) !important;
	background-color:#378de5  !important;
	-moz-border-radius:6px !important;
	-webkit-border-radius:6px !important;
	border-radius:6px !important;
	border:1px solid #84bbf3 !important;
	display:inline-block ;
	color:#ffffff ;
	font-family:arial ;
	font-size:15px ;
	font-weight:bold ;
	padding:6px 24px ;
	text-decoration:none ;
	text-shadow:1px 1px 0px #528ecc ;
}

.ToolTipButton:hover 
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) ) !important;
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% ) !important;
	background-color:#79bbff !important;
}
.ToolTipButton:active
{
	position:relative;
	top:1px;
}

.ToolTipButton:focus{
	 outline: none;
}

.noteList
{
	padding: 5px 5px 5px 5px;
}

.nodeItem
{
	width: 370px;
	padding: 5px;
	overflow:hidden;
}

.noteCreator
{
	font-weight:bold;
}

.noteDate
{
	float: right;
}

.noteTextArea
{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*BEGIN barWarningInformation popup related css */ 
.barWarningInformation {
    margin: 8px;
    line-height: 20px;
   	display:none;
	position:absolute;	
	width: 500px;
	padding: 10px;
	background: white;
	border: 3px solid black;
	box-shadow:5px 5px 8px #444;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}
.barWarningInformation:after, .barWarningInformation:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.barWarningInformation:after {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: white;
	border-width: 15px;
	top: 50%;
	margin-top: -15px;
}
.barWarningInformation:before {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: black;
	border-width: 19px;
	top: 50%;
	margin-top: -19px;
}

/*BEGIN user information popup related css */ 
.userInformation {
    margin: 8px;
    line-height: 20px;
	width: 250px;
	padding: 10px;
}

.dummy_button {
	background-color:transparent;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:0px;
	border: 0px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}

.dummy_button:focus{
	 outline: none;
}

.userImage{
	margin-right: 5px;
	float: left;
}

.userData{
	margin-left: 70px;
}

/*END user information popup related css */



/*BEGIN ODATA ERROR CSS */
.error_popup
{
	width: 30%;
	background: -moz-linear-gradient(-45deg, #feffff 0%, #d2ebf9 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(-45deg, #feffff 0%,#d2ebf9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #feffff 0%,#d2ebf9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #feffff 0%,#d2ebf9 100%); /* IE10+ */
	background: linear-gradient(135deg, #feffff 0%,#d2ebf9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
	
	-webkit-box-shadow: 7px 3px 30px rgba(0, 125, 86, 0.75);
	-moz-box-shadow:    7px 3px 30px rgba(0, 125, 86, 0.75);
	box-shadow:         7px 3px 30px rgba(0, 125, 86, 0.75);	
	
	
	-webkit-border-radius:;
	-moz-border-radius:;
	border-radius: 5px; 	
	
	border: 7px solid #082039;
}

.error_title
{
	background: gray;
	height: 30px;
}

.error_title .text
{
	padding: 5px;
	font: 20px/100% Calibri, Helvetica, sans-serif;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}

.error_message
{
	height: 200px;
	
	font: 15px/100% Calibri, Helvetica, sans-serif;
	font-family: Calibri;
	text-align: left;
	padding: 5px;
	font-weight: bold;
	color: rgb(54, 54, 54);
	overflow:scroll; 
}

.error_button
{
	margin-top: 10px;
	margin-bottom: 10px;
}


/*END ODATA ERROR CSS */


/*BEGIN Badger CSS */
.badge_outter
{
	background:#fff;
	border:1px solid #ccc;
	min-width: 18px;
	height: 18px;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	box-shadow:0px 1px 3px #ccc;
	-moz-box-shadow:0px 1px 3px #ccc;
	-webkit-box-shadow:0px 1px 3px #ccc;
	float:left;
	position:absolute;
	top:5px;
	right:-9px;
	z-index:9999;
}
.badge_inner
{
	min-width: 16px;
	height: 16px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background: #f13c31;
	background: -moz-linear-gradient(100% 100% 90deg, #f13c31, #f79690);
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f79690), to(#f13c31));
  	background: -webkit-linear-gradient(#f79690, #f13c31);
    background: -o-linear-gradient(#f79690, #f13c31);
    margin:1px;
    z-index:99999;
}
.badge_number
{
	font-size:8px;
	color:#fff;
	padding:2px 4px;
	margin:0;
	text-align:center;
	text-shadow:0px -1px 1px #e01b0f;
	z-index:999999;
}
	
/*END Badger CSS */